@import './variables.scss';

.expand {
 flex-grow: 1;
}
.hide {
  display: none!important;
}

// Flex Grid
// --------------------------
.row, .flex {
 box-sizing: border-box;
}
.flex {
  display: flex;
}
.row {
  display: grid;
  grid-template-columns: 1fr;
  &.gutter {
    gap: $gutter;
  }
  &.gutter-lg {
    gap: $gutter-lg;
  }
}

.row {
 .x9 {
  flex-basis: 75%;
  max-width: 75%;
 }
 .x8 {
  flex-basis: 66.6667%;
  max-width: 66.6667%;
 }
 .x6 {
  flex-basis: 50%;
  max-width: 50%;
 }
 .x4 {
  flex-basis: 33.3333%;
  max-width: 33.3333%;
 }
 .x3 {
  flex-basis: 25%;
  max-width: 25%;
  }
}
@media (min-width: $screen-xs) {
 .row {
  .xs-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .xs-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .xs-4 {
    grid-template-columns: repeat(4, 1fr);
  }
 }
}
// Tablets
@media (min-width: $screen-sm) {
 .row {
  .sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }

 }
}
// Desktop
@media (min-width: $screen-md) {
 .row {
  .md-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .md-4 {
    grid-template-columns: repeat(4, 1fr);
  }
 }
}
// Large Desktops
@media (min-width: $screen-lg) {
 .row {
  .lg-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .lg-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .lg-4 {
    grid-template-columns: repeat(4, 1fr);
  }
 }
}

// Hide Responsive
.hide-md-down {
 @media (max-width: $screen-md) {
  display: none!important;
 }
}
.hide-md-up {
 display: none!important;
 @media (max-width: $screen-md) {
  display: flex!important;
 }
}
.hide-sm-up {
 display: none!important;
 @media (max-width: $screen-xs) {
  display: flex!important;
 }
}
.hide-xs {
 @media (max-width: $screen-xs) {
  display: none!important;
 }
}
