@import '../base/variables.scss';

.cards {
  display: grid;
  gap: 1rem;
  margin-bottom:  2rem;
  grid-template-columns:
    1fr
    1fr
    1fr
  ;
  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgba($theme-bg, 0.1);
    padding: calc($gutter-w * 2);
    &.active {
      background: white;
      h2, span {
        color: black;
      }
    }
    h2 {
      margin: 0;
      font-size: 2.8rem;
      font-weight: normal;
    }
    span {
      font-size: 3.6rem;
    }
  }
  @media (max-width: $screen-sm) {
    grid-template-columns: 1fr;
  }
}
