@import '/src/assets/styles/base/variables.scss';

.team {
  background: $theme-bg;
  padding-top: $header-height;
  .card {
    align-items: center;
    .team-img {
      $size:    225px;

      width: 100%;
      height: $size;
      max-width: $size;
      border-radius: calc($size / 2.6);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin-bottom: 1rem;
      background: rgba(black, 0.05);
      i {
        font-size: 120px;
        opacity: 0.25;
      }
    }
    .artist-name {
      font-size: 18px;
    }
  }
  .team-members {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}