---
import Page from "@layouts/Page.astro";
import BlogList from "@components/BlogList.astro";

---

<Page title="News" pageClass="page news">
	<section>
		<div class="center-wrap">
			<div class="section-header flex">
				<h2 class="expand">Blog</h2>
			</div>
			<BlogList />
		</div>
	</section>
</Page>