---
import JazzedUp from '@components/JazzedUp.astro';
import Page from '@layouts/Page.astro'
import '@styles/pages/connect.scss'
---

<Page title="Connect" pageClass="page connect">

  <!-- Hero -->
  <section class="hero">
    <div class="center-wrap">
      <h1>Let's Connect!</h1>
      <p>I sincerely appreciate you even bothering to take the time to checkout Project Ghstng. If you need anything, feel free to contact me at <strong>g@ghstng.com</strong>.</p>
      <div class="btn-group">
        <a href="https://forms.gle/WNb4QLFx6rT7UL538" class="btn btn-primary btn-invert btn-large" title="Contribute to Ghstng" target="_blank">Contribute 💪</a> 
        <!-- <a href="https://patreon.com/user?u=69732941" class="btn btn-secondary btn-invert btn-large" title="Contribute to Ghstng" target="_blank">Buy me a coffee ☕</a>  -->
      </div>
    </div>
  </section>

  <!-- Roles -->
  <section class="roles">
    <div class="center-wrap">
      <h2 class="expand">Ways to contribute</h2>
      <p class="lead-text">The beauty of open source lies in its ability to bring together a community of creators, each contributing their unique skills to drive a project forward. Here are some of the many ways to  help Project ghstng succeed. By working together, we can achieve great things.</p>

      <!-- Roles list -->
      <div class="small-wrap row">
        <div class="col m6">
          <div>
            <strong>Music Creation</strong>
            <ul>
              <li>Songwriters</li>
              <li>Vocalists/Performers</li>
              <li>Musicians</li>
              <li>Producers</li>
              <li>Sound designers</li>
              <li>Mix engineers</li>
              <li>Mastering engineers</li>
            </ul>
          </div>
          <div>
            <strong>Visual</strong>
            <ul>
              <li>Graphic design</li>
              <li>Photography</li>
              <li>Videography</li>
              <li>Directors</li>
              <li>Styling</li>
              <li>Actors/extras for videos</li>
              <li>Models for Merch.</li>
            </ul>
          </div>
          <div>
            <strong>Business</strong>
            <ul>
              <li>Marketers/Promotors</li>
              <li>Music attorneys</li>
              <li>Managers</li>
              <li>Publicists</li>
            </ul>
          </div>
        </div>
        <div class="col m6">
          <div>
            <strong>Web</strong>
            <ul>
              <li>Developers (front/back)</li>
              <li>UI/UX Design</li>
              <li>Content writers</li>
            </ul>
          </div>
          <div>
            <strong>Social Media</strong>
            <ul>
              <li>Moderators</li>
              <li>Strategists</li>
              <li>Influencers</li>
            </ul>
          </div>
          <div>
            <strong>Press/Connections</strong>
            <ul>
              <li>Journalists</li>
              <li>Radio & TV</li>
              <li>Retailers</li>
              <li>Venue owners</li>
              <li>Festival organizers</li>
              <li>Music licensing agents</li>
            </ul>
          </div>
          <div>
            <strong>Misc</strong>
            <ul>
              <li>Experience starting a foundation</li>
              <li>Grant writing</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="center-wrap">
      <JazzedUp />
    </div>
  </section>
</Page>
