---
import { site } from "src/config";
import connect from '@data/connect.yml';

import Signup from '@components/Signup.astro';

import '@styles/components/Footer.scss';

const today: Date = new Date();
const follow: Array<{icon: string}> = Object.values(connect.social);
---

<footer class="footer">
	<div class="center-wrap text-center">
		<div class="row">
			<div class="col m8">
				<nav class="links">
					<a href="/">Home</a>
					<a href="/projects/">Projects</a>
					<a href="/open-source/">Open Source</a>
					<a href="/news/">News</a>
					<a href="/blog/">Blog</a>
					<a href="/about/">About</a>
					<a href="/team/">Team</a>
					<a href="/connect/">Connect</a>
					<!-- <a href="/press/">Press</a> -->
					<a href="/listen/">Listen</a>
				</nav>
			</div>
			<div class="footer-icons col m4">
				<div class="follow btn-group">
					<strong>Follow</strong>
					<div class="btn-group">
						{follow.map(item => (
							<i class={item.icon}></i>
						))}
					</div>
				</div>
				<div class="signup">
					<strong>Get Updates</strong>
					<Signup />
				</div>
				<a class="cc" href="/cc-plus/"><i class="icon-cc"></i>Creative Commons</a>
			</div>
		</div>
		<div class="copyright">&copy; {today.getFullYear()} <a href={site.ownerUrl} title="Syra Group LLC Website" target="_blank">{site.owner}</a></div>
	</div>
</footer>

<style lang="scss">
	@import '/src/assets/styles/base/variables.scss';

	.links {
		display: grid;
		grid-auto-flow: column;
		column-gap: 2rem;
		row-gap: 0.5rem;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(5, 1fr);
		> a {
			display: flex;
			align-items: center;
		}
	}
	.signup {
		display: grid;
		grid-template-columns: 1fr;
		text-align: left;
	}
	@media (max-width: $screen-md) {
		.row {
			flex-direction: column;
			align-items: center;
		}
		.col {
			width: 100%;
		}
		.footer-icons {
			margin-top: 4rem;
		}
	}
</style>