---
const {frontmatter} = Astro.props;
---

{frontmatter.spotifyUri &&
  <div class="spotify-embed">
    <div class="loading-wrap"><figure></figure><div><span></span><span></span></div></div>
    <iframe style="border-radius:8px;" src={`https://open.spotify.com/embed/track/${frontmatter.spotifyUri}?utm_source=generator&theme=0`} width="100%" height="80" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
  </div>
}