<div class="spotify-embed">
  <div class="loading-wrap"><figure></figure><div><span></span><span></span></div></div>
  <iframe style="border-radius:12px;height:380px;" src="https://open.spotify.com/embed/artist/23FuaoA5JeMfxoPgjGRc1P?utm_source=generator&theme=0" width="100%" height="380" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
</div>